.home__container {
    background-color: #fafafa;
    height: 100vh;
}
.home__topnav_left {
    margin-left: 15%;
    width: 200px;
}

.home__topnav {
    top: 0;
    position: fixed;
    z-index: 1;
    padding: 20px;
    height: 30px;
    width: 100%;
    background-color: #fff;
    object-fit: contain;
    border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home__topnav__right {
    object-fit: contain;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    float: right;
}

.home__topnav__icon {
    margin-left: 20px;
    cursor: pointer;
}

.dp {
    height: 24px;
    object-fit: contain;
    border-radius: 50%;
}

.home__topnav__center {
    align-items: center;
}
.home__topnav__search {
    padding-left: 15px;
    height: 30px;
    width: 250px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 200;
    font-family: var(--font-family-system);
    background-color: rgb(239,239,239);
}